<div class="container">
  <div class="row" *ngIf="!userSessionService.user">
    <h2>You are not log in!</h2>
    <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
    <a [routerLink]="['/signup']" class="btn btn-primary">Signup</a>
  </div>

  <div class="row" *ngIf="userSessionService.user">
    <h2>Create Group</h2>
    <form>
      <div class="form-group">
        <label for="name">Name: </label>
        <input type="text" [(ngModel)]="groupInfo.name" class="form-control" placeholder="Name" name="name">
      </div>
      <button type="submit" (click)="newGroup()" class="btn btn-primary btn-lg btn-block">Upload Group</button>
    </form>
  </div>

  <a [routerLink]="['/home']" class="btn btn-primary">Back Home</a>
</div>