<div class="container">
  <div class="row" *ngIf="!userSessionService.user">
    <h2>You are not log in!</h2>
    <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
    <a [routerLink]="['/signup']" class="btn btn-primary">Signup</a>
  </div>

  <div class="row" *ngIf="userSessionService.user">
    <h2>Upload Garment</h2>
    <form>
      <div class="form-group">
        <label for="size">Size: </label>
        <input type="text" [(ngModel)]="garmentInfo.size" class="form-control" placeholder="Size" name="size">
      </div>
      <div class="form-group">
        <label for="brand">Brand: </label>
        <input type="text" [(ngModel)]="garmentInfo.brand" class="form-control" placeholder="Brand" name="brand">
      </div>
      <div class="form-group">
        <label for="kind">Kind: </label>
        <input type="text" [(ngModel)]="garmentInfo.kind" class="form-control" placeholder="Kind" name="kind">
      </div>
      <button type="submit" (click)="newGarment()" class="btn btn-primary btn-lg btn-block">Upload Garment</button>
    </form>
  </div>

  <a [routerLink]="['/home']" class="btn btn-primary">Back Home</a>
</div>