<h1> Favslist details </h1>
<a [routerLink]="['']"> Back to list </a>

<div *ngIf="favslist">
  <div class="favslist-info">
    <h2 [style.color]="favslist.color"> {{ favslist.title }}</h2>
    <div class="garment col-md-3" *ngFor="let garment of clothes">
      <h3> {{ garment.kind }} </h3>
      <p> {{ garment.brand }} </p>
      <p> {{ garment.size }} </p>
      <p> {{ garment.description }} </p>
      <button (click)="outFavslist(garment)" class="btn btn-danger btn-lg">Remove from Favslist</button>
    </div>
    <a [routerLink]="['/editfavslist', favslist._id]" class="btn btn-primary">Edit Favslist</a>
  </div>
</div>