<h1>RED CARPET</h1>

<div class="container" *ngIf="userSessionService.user">
  <div class="row">

    <h2>Welcome {{userSessionService.user.username}}</h2>
    <img [src]="userSessionService.user.image" alt="User image">
    <a [routerLink]="['/edituser']" class="btn btn-primary">Edit profile</a>
    <button (click)="logout()" type="submit" class="btn btn-primary btn-lg">Log Out</button>

  </div>
  <div *ngIf="advicegroups && advicegarments && meetings && groups && favslists && clothes">

    <div class="row advicegroups">
      <div *ngIf="advicegroups.length">
        <div class="advicegroup" *ngFor="let advicegroup of advicegroups">

          <h5>User {{advicegroup._sender.username}} invites you to join {{advicegroup._group.name}} group</h5>
          <p> Message: {{advicegroup.message}} </p>

          <button (click)="accept(advicegroup._group._id, advicegroup._receiver._id, advicegroup)" type="submit" class="btn btn-success btn-lg">Sure!</button>
          <button (click)="decline(advicegroup)" type="submit" class="btn btn-danger btn-lg">No thanks</button>

        </div>
      </div>
      <div *ngIf="!advicegroups.length">
        <p>YOU HAVE ANY GROUP TO JOIN</p>
      </div>
    </div>

    <div class="row advicegarments">
      <div *ngIf="advicegarments.length">
        <div class="advicegarment" *ngFor="let advicegarment of advicegarments">

          <h5>User {{advicegarment._sender.username}} wants to borrow yor {{advicegarment._garment.size}} size {{advicegarment._garment.brand}}
            {{advicegarment._garment.kind}}</h5>
          <h5>Day: {{advicegarment.datemeeting | date: 'dd-MM-yyyy'}}</h5>
          <p>Pick up: {{advicegarment.daysbefore}}</p>
          <p>Give back: {{advicegarment.daysafter}}</p>
          <p> Message: {{advicegarment.message}} </p>

          <button (click)="acceptBorrow(advicegarment._garment._id, advicegarment._receiver._id, advicegarment._meeting._id, advicegarment, advicegarment.daysbefore, advicegarment.daysafter, advicegarment.datemeeting)"
            type="submit" class="btn btn-success btn-lg">Sure!</button>
          <button (click)="declineBorrow(advicegarment)" type="submit" class="btn btn-danger btn-lg">No thanks</button>

        </div>
      </div>
      <div *ngIf="!advicegarments.length">
        <p>YOU HAVE ANY GARMENT LOAN REQUEST</p>
      </div>
    </div>

    <div class="row meetings">
      <a [routerLink]="['/addmeeting']" class="btn btn-primary">Program new Event</a>
      <div *ngIf="meetings.length">
        <div class="meeting" *ngFor="let meeting of meetings">
          <a [routerLink]="['/meeting',meeting._id]">
            <h3> {{ meeting.name }} </h3>
          </a>
          <p> {{ meeting.date | date:'dd-MM-yyyy'}} </p>
          <p> {{ meeting.place }} </p>
          <div class="eventclothes" *ngFor="let eventgarment of meeting.clothes">
            <img class="img-mini" [src]="eventgarment.photo" alt="Garment image">
          </div>
        </div>
      </div>
      <div *ngIf="!meetings.length">
        <p>YOU HAVE NO EVENTS PROGRAMED</p>
      </div>
    </div>

    <div class="row groups">
      <a [routerLink]="['/addgroup']" class="btn btn-primary">Create new Group</a>
      <div *ngIf="groups.length">
        <div class="group" *ngFor="let group of groups">
          <a [routerLink]="['/group',group._id]">
            <h3> {{ group.name }} </h3>
          </a>
          <div class="members" *ngFor="let member of group.users">
            <p> {{ member.username }} </p>
          </div>
        </div>
      </div>
      <div *ngIf="!groups.length">
        <p>YOU HAVE NO GROUPS CREATED</p>
      </div>
    </div>

    <div class="row favslists">
      <a [routerLink]="['/addfavslist']" class="btn btn-primary">Create new Favourites List</a>
      <div *ngIf="favslists.length">
        <div class="favslist" *ngFor="let favslist of favslists">
          <a [routerLink]="['/favslist',favslist._id]">
            <h3 [style.color]="favslist.color"> {{ favslist.title }} </h3>
          </a>
          <div class="members" *ngFor="let garment of favslist.clothes">
            <p> {{ garment.brand }} </p>
            <p> {{ garment.kind }} </p>
            <p> {{ garment.size }} </p>
          </div>
        </div>
      </div>
      <div *ngIf="!favslists.length">
        <p>YOU HAVE NO FAVOURITES LISTS CREATED</p>
      </div>
    </div>

    <div class="row clothes">
      <a [routerLink]="['/addgarment']" class="btn btn-primary">Upload new Garment</a>
      <div *ngIf="clothes.length">
        <div class="garment col-md-3" *ngFor="let garment of clothes">
          <img [src]="garment.photo" alt="Garment image">
          <a [routerLink]="['/garment', garment._id]">
            <h3> {{ garment.kind }} </h3>
          </a>
          <p> {{ garment.brand }} </p>
          <p> {{ garment.size }} </p>
          <p> {{ garment.description }} </p>
        </div>
      </div>
      <div *ngIf="!clothes.length">
        <p>YOU HAVE NO CLOTHES UPLOADED</p>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="!userSessionService.user">

  <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
  <a [routerLink]="['/signup']" class="btn btn-primary">Signup</a>

</div>