<h1>RED CARPET</h1>

<div class="container" *ngIf="userSessionService.user">
  <div class="row">

    <h2>Welcome {{userSessionService.user.username}}</h2>
    <a [routerLink]="['/edituser']" class="btn btn-primary">Edit profile</a>
    <button (click)="logout()" type="submit" class="btn btn-primary btn-lg btn-block">Log Out</button>

  </div>
  <div class="row events">
    <a [routerLink]="['/events/new']" class="btn btn-primary">Program new Event</a>
    <div *ngIf="userSessionService.user.events.length">
      <div class="event" *ngFor="let event of events">
        <a [routerLink]="['/event',event._id]">
          <img [src]="event.image" width=100/>
        </a>
        <h3> {{ event.size }} </h3>
        <p> {{ event.brand }} </p>
      </div>
    </div>
    <div *ngIf="!userSessionService.user.events.length">
      <p>YOU HAVE NO EVENTS PROGRAMED</p>
    </div>
  </div>

  <div class="row groups">
    <a [routerLink]="['/groups/new']" class="btn btn-primary">Create new Group</a>
    <div *ngIf="userSessionService.user.groups.length">
      <div class="group" *ngFor="let group of groups">
        <a [routerLink]="['/group',group._id]">
          <h3> {{ group.name }} </h3>
        </a>
      </div>
    </div>
    <div *ngIf="!userSessionService.user.groups.length">
      <p>YOU HAVE NO GROUPS CREATED</p>
    </div>
  </div>

  <div class="row favslists">
    <a [routerLink]="['/addfavslist']" class="btn btn-primary">Create new Favourites List</a>
    <div *ngIf="userSessionService.user.favslists.length">
      <div class="favslist" *ngFor="let favslist of favslists">
        <a  [routerLink]="['/favslist',favslist._id]">
          <h3 [style.color]="favslist.color"> {{ favslist.title }} </h3>
        </a>
      </div>
    </div>
    <div *ngIf="!userSessionService.user.favslists.length">
      <p>YOU HAVE NO FAVOURITES LISTS CREATED</p>
    </div>
  </div>

  <div class="row clothes">
    <a [routerLink]="['/addgarment']" class="btn btn-primary">Upload new Garment</a>
    <div *ngIf="userSessionService.user.clothes.length">
      <p>My Clothes</p>
      <div class="garment col-md-3" *ngFor="let garment of clothes">
        <a [routerLink]="['/garment', garment._id]">
          <h3> {{ garment.kind }} </h3>
        </a>
        <p> {{ garment.brand }} </p>
        <p> {{ garment.size }} </p>
      </div>
    </div>
    <div *ngIf="!userSessionService.user.clothes.length">
      <p>YOU HAVE NO CLOTHES UPLOADED</p>
    </div>
  </div>
</div>
<div class="container" *ngIf="!userSessionService.user">

  <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
  <a [routerLink]="['/signup']" class="btn btn-primary">Signup</a>

</div>